<h2>スケジュール詳細</h2>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_day.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_day.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <% if @post.all_day.to_s === "0" %>
      <% ox = "" %>
    <% else %>
      <% ox = "◯" %>
    <% end %>
    <td><%= ox %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る" , posts_path, class:"link_to" %></li>
    <li><%= link_to "スケジュールを編集する" , edit_post_path(@post), class:"link_to" %></li>
    <li><%= link_to "スケジュールを削除" , post_path(@post) , method: :delete , data:{confirm: "削除していいですか"}, class:"link_to"%></li>
  </ul>
</div>

<%= render "shared/partial" %>